.logo{
	border-radius: 50%;
}

.navbar{
	display: flex;
	justify-content: space-between;
}

u{
	color: blueviolet;
}

.flags{
	margin-right: 20px;
	justify-items: center;
}


h2{
	margin-top: 50px;
}

.container1{
	display: flex;
	margin-left: 10px;

}
h3{
	color: floralwhite;
	padding-left: 50px;
}

h4{
	color: brown;
}
.footer{
	margin-top: 50px;
	background-color: darkblue;
}

h5{
	color: yellow;
}

.footer p{
	line-height: 15px;
	color: whitesmoke;
}
